<?xml version="1.0"?>

<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <!-- transforms -->
  <!--<node name="laser2base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link laser 50"/>-->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
      args="0.0 0.0 0.0 0 0 0.0 /map /odom 40" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_basefootprint" 
      args="0.0 0.0 0.0 0 0 0.0 /odom /base_footprint 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" 
      args="0.0 0.0 0.0 0 0 0.0 /base_footprint /base_link 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
      args="0.2245 0.0 0.2 0.0 0.0 0.0 /base_link /laser 40" />
  <!--<node name="scan2laser" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 laser scan 50"/>-->

  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>
  <param name="/use_sim_time" value="false"/>
  <include file="$(find hector_mapping)/launch/mapping_custom.launch"/>
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

  <!-- controller -->
  <node name="rob_ctrl" pkg="rob_ctrl" type="motor_controller.py" output="screen"/>
  <!-- camera -->
  <node name="rob_cam" pkg="rob_cam" type="box_detector.py"/>
  <!-- state machine -->
  <!--<node name="rob_state" pkg="rob_state" type="test_state.py"/>-->
</launch>
